body {
  margin: 0;
  padding: 9px 27px 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e84d37;
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  border: none;
}

.button:hover,
.button:focus {
  box-shadow: 0 2px 2px #ac1000;
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
}

.button:active {
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  background: linear-gradient(to bottom, #d84732, #e1613e);
}

.menu,
.sub-menu {
  padding: 0;
  margin: 0;

  list-style: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.modal {
  z-index: 2;

  display: none;
}

.sub-menu {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header-logo {
  margin-right: 24px;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  align-items: flex-start;
}

.navigation {
  position: relative;

  display: flex;
  align-items: flex-start;
  padding-top: 13px;
  width: 992px;
}

.menu-item {
  position: relative;

  padding-bottom: 6px;

  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.menu-item > a {
  display: block;
  padding: 7px 0;
  margin-right: 27px;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-position: 0 24px;
  background-repeat: repeat-x;
  background-size: 2px 1px;


}

.menu-item > a:hover,
.menu-item > a:focus,
.menu-item:hover > a,
.menu-item:focus > a {
  display: block;
  margin-right: 14px;
  margin-left: -14px;
  padding-top: 7px;
  padding-right: 13px;
  padding-left: 14px;
  padding-bottom: 7px;

  color: #323232;

  background-color: #f7f6f3;
  border-radius: 16px;
}

.menu-item > a:active {
  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.menu-current > a {
  display: block;
  margin-right: 14px;
  margin-left: -14px;
  padding-top: 7px;
  padding-right: 13px;
  padding-left: 14px;
  padding-bottom: 7px;

  background-color: #d07058;
  background-image: none;
  border-radius: 16px;
}

.menu-current a:hover,
.menu-current a:focus,
.menu-current a:active,
.menu-current:hover > a {
  color: #ffffff;

  background-color: #d07058;
  box-shadow: none;
}

.sub-menu {
  position: absolute;
  top: 37px;
  z-index: 10;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.menu-item:hover > .sub-menu,
.menu-item > a:focus + .sub-menu,
.menu-item:focus .sub-menu,
.menu-item:focus-within {
  visibility: visible;
}

.sub-menu a {
  position: relative;

  display: block;
  padding: 11px 21px 13px;

  font-size: 14;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.sub-menu-item:first-child a {
  border-bottom: 1px solid #d1d0ce;

  font-weight: 700;
}

.sub-menu-item:first-child a::before,
.sub-menu-item:first-child a::after {
  content: "";

  position: absolute;
  bottom: -1px;

  width: 6px;
  height: 1px;

  background-color: #ffffff;
}

.sub-menu-item:first-child a::before {
  left: 0;
}

.sub-menu-item:first-child a::after {
  right: 0;
}

.sub-menu-item:first-child a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sub-menu-item:last-child a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu-item {
  white-space: nowrap;
}

.sub-menu-item a:hover,
.sub-menu-item a:focus {
  color: #323232;

  background-color: #fbded7;
}

.sub-menu-item a:active {
  color: #323232;

  background-color: #f6b5a5;
}

.sub-menu-current a,
.sub-menu-current a:hover {
  color: #ffffff;

  background-color: #d07058;
}

.search-wrapper {
  position: relative;

  flex-shrink: 0;
  margin-left: auto;
  margin-right: 10px;
  padding-bottom: 5px;
}

.search-link {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.search-link:hover,
.search-link:focus,
.search-wrapper:hover .search-link {
  background-color: #f8f7f4;
}

.search-link:hover path,
.search-link:focus path,
.search-wrapper:hover path {
  fill: #323232;
}

.modal-search {
  position: absolute;
  top: 36px;
  right: 0;

  /* display: block; */
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-field {
  width: 311px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);

  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 5px;
}

.search-field:hover,
.search-field:focus {
  display: inline-block;
  margin: -1px;
  margin-right: 1px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search-field::placeholder {
  font-weight: 400;
  color: #999999;
}

.search-wrapper:hover .modal-search,
.search-wrapper:focus .modal-search {
  display: block;
}

.login-wrapper {
  position: relative;

  margin-right: 10px;
  padding-bottom: 5px;
}

.login-link,
.cart {
  position: relative;

  display: block;
  padding: 8px 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 16px;

  background-color: rgba(255, 255, 255, 0.2);
}

.login-link {
  padding-left: 44px;
}

.cart {
  padding-left: 45px;
}

.login-link path {
  fill: #ffffff;
}

.login-link svg,
.cart svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.login-link:hover,
.login-link:focus,
.login-wrapper:hover .login-link,
.cart:hover,
.cart:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.login-link:hover path,
.login-link:focus path,
.login-wrapper:hover path,
.cart:hover g,
.cart:focus g {
  fill: #323232;
}

.modal-login {
  position: absolute;
  top: 36px;
  right: 0;

  /* display: block; */
  padding: 20px 17px 22px 19px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login-field {
  width: 241px;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);

  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 5px;
}

.login-field:hover,
.login-field:focus {
  display: inline-block;
  margin: -1px;
  margin-right: 1px;
  margin-bottom: 19px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.login-field::placeholder {
  font-weight: 400;
  color: #999999;
}

.password-field {
  width: 241px;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);

  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 5px;
}

.password-field:hover,
.password-field:focus {
  display: inline-block;
  margin: -1px;
  margin-bottom: 19px;
  margin-right: 1px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.password-field::placeholder {
  font-weight: 400;
  color: #999999;
}

.enter-button {
  width: 100px;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  border-radius: 22px;
}

.enter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 241px;
}

.login-help {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.login-help a {
  font-size: 13px;
  color: #323232;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-position: 0 17px;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.login-help a:hover,
.login-help a:focus,
.login-help a:active {
  color: rgb(232, 77, 55);

  background-image: linear-gradient(to right, rgba(236, 89, 60, 0.3), rgba(236, 89, 60, 0.3));
  background-position: 0 17px;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.login-wrapper:hover .modal-login,
.login-wrapper:focus .modal-login {
  display: block;
}

.cart-wrapper {
  position: relative;
  padding-bottom: 5px;
}

.not-empty-cart {
  color: #323232;

  background-color: rgba(248, 247, 244, 0.99);
}

.modal-cart {
  position: absolute;
  top: 36px;
  right: 0;

  /* display: block; */
  width: 540px;
  padding: 20px 15px 21px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.cart-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-left: 26px;
}

.cart-order-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 451px;
}

.delete-button {
  position: absolute;
  top: 10px;
  left: -2px;

  width: 21px;
  height: 21px;
  order: -1;

  font-size: 0;

  background: transparent;
  border: 0;

  cursor: pointer;
}

.delete-button::before,
.delete-button::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 3px;

  width: 15px;
  height: 1px;

  background-color: #231f20;
}

.delete-button::before {
  transform: rotate(45deg);
}

.delete-button::after {
  transform: rotate(-45deg);
}

.cart-item img {
  border-radius: 16px;
}

.cart-item h3 {
  width: 220px;
  padding: 0;
  margin: 0;
}

.cart-item a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.cart-item p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.price {
  color: #999999;
}

.cart-item:last-child {
  border-bottom: 1px solid #cacac7;
}

.cart-order-wrapper a:hover,
.cart-order-wrapper a:focus,
.cart-order-wrapper a:active {
  color: rgb(232, 77, 55);
}

.total-cost {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
}

.order-button {
  width: 170px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-left: 12px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  border-radius: 22px;
}

.cart-wrapper:hover .modal-cart,
.cart-wrapper:focus .modal-cart {
  display: block;
}

.schedule {
  margin-bottom: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;

  background-color: #849d8f;
}

.phone {
  margin-top: 0;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;

  background-color: #849d8f;
}

.features {
  padding: 0;
  margin: 0;
  width: 1146px;
  min-height: 306px;
  margin-bottom: 40px;
  padding-top: 27px;
  padding-left: 20px;

  background-color: #eadbbd;
  background-image: url(../img/bg-wafer.png);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 14px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.feature-item p {
  position: relative;

  margin: 0;
  padding: 0;
  width: 540px;
  margin-bottom: 22px;
  padding-left: 57px;
}

.feature-item:nth-child(1) p::before {
  content: "";

  position: absolute;
  top: -12px;
  left: 0;

  width: 49px;
  height: 49px;

  background-image: url(../img/ice-cream.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item:nth-child(2) p::before {
  content: "";

  position: absolute;
  top: -12px;
  left: -1px;

  width: 49px;
  height: 49px;

  background-image: url(../img/cow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item:nth-child(3) p::before {
  content: "";

  position: absolute;
  top: -12px;
  left: 0;

  width: 49px;
  height: 49px;

  background-image: url(../img/eco.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item:nth-child(4) p::before {
  content: "";

  position: absolute;
  top: -12px;
  left: -1px;

  width: 49px;
  height: 49px;

  background-image: url(../img/thermometer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item:nth-child(2n-1) p {
  margin-right: 20px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  min-height: 220px;
  margin-bottom: 40px;
}

.blog-news {
  padding-top: 29px;
  padding-left: 20px;
  width: 560px;
  min-height: 220px;

  border-radius: 14px;
  background-color: #ffffff;
  background-image: url(../img/bg-blog.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.blog-news h2 {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news h3 {
  padding: 0;
  margin: 0;
  width: 281px;
}

.blog-news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
  background-image: linear-gradient(to right, rgba(50, 50, 50), rgba(50, 50, 50));
  background-position: 0 24px;
  background-repeat: repeat-x;
  background-size: 2px 2px;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: #e84d37;

  background-image: linear-gradient(to right, #e84d37, #e84d37);
  background-position: 0 24px;
  background-repeat: repeat-x;
  background-size: 2px 2px;
}

.subscribe {
  width: 560px;
  min-height: 220px;
  padding: 5px;

  border-radius: 14px;
  background-image: url(../img/bg-post.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.subscribe .wrapper {
  min-height: 210px;
  margin: 0;
  padding-top: 33px;
  padding-left: 21px;

  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscribe p {
  margin: 0;
  margin-bottom: 39px;
  padding-right: 20px;
}

.subscribe form {
  vertical-align: middle;
}

.subscribe input {
  display: inline-block;
  width: 368px;
  margin-right: 8px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);

  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 5px;
}

.subscribe input:hover,
.subscribe input:focus {
  display: inline-block;
  margin: -1px;
  margin-right: 9px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscribe input::placeholder {
  font-weight: 400;
  color: #999999;
}

.subscribe-button {
  width: 129px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 18px;
  padding-left: 19px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  border-radius: 22px;
}

.modal-feedback {
  position: fixed;
  top: 15%;
  left: 50%;

  /* display: block; */
  width: 477px;
  padding: 18px 25px 27px 24px;
  /* margin-left: -238px; */

  background-color: #f8f7f4;
  border-radius: 10px;

  transform: translateX(-50%);
}

.modal-feedback p {
  margin: 0;
  margin-bottom: 18px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-name-field {
  width: 267px;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);

  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 5px;
}

.feedback-name-field:hover,
.feedback-name-field:focus {
  display: inline-block;
  margin: -1px;
  margin-bottom: 19px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-name-field::placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-email-field {
  width: 267px;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);

  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 5px;
}

.feedback-email-field:hover,
.feedback-email-field:focus {
  display: inline-block;
  margin: -1px;
  margin-bottom: 19px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-email-field::placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-message {
  width: 428px;
  margin-bottom: 25px;
  padding-top: 8px;
  padding-right: 14px;
  padding-left: 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);

  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 5px;
}

.feedback-message:hover,
.feedback-message:focus {
  display: inline-block;
  margin: -1px;
  margin-bottom: 24px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-message::placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-button {
  width: 138px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 18px;
  padding-left: 19px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  border-radius: 22px;
}

.modal-close {
  position: absolute;
  top: 25px;
  right: 15px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 22px;
  height: 2px;

  background-color: #231f20;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;

  list-style-type: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 22px;
}

.breadcrumbs li::after {
  content: "»";

  position: absolute;
  right: -14px;

  color: #ffffff;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-position: 0 16px;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: rgb(255, 188, 158);

  background-image: linear-gradient(to right, rgba(255, 188, 158, 0.2), rgba(255, 188, 158, 0.2));
}

.breadcrumbs-current {
  padding: 0;
  margin: 0;
  padding-top: 2px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;

  background-color: #849d8f;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.catalog {
  width: 1146px;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-name{
  order: 1;
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
}

.catalog-item-name a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-position: 0 18px;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.catalog-item-name a:hover,
.catalog-item-name a:focus,
.catalog-item-name a:active {
  color: rgb(255, 188, 158);

  background-image: linear-gradient(to right, rgba(255, 188, 158, 0.2), rgba(255, 188, 158, 0.2));
}

.catalog-item-image {
  position: relative;
}

.catalog-item-image img {
  margin-bottom: 8px;
  border-radius: 133px;
}

.catalog-item-price {
  position: absolute;
  left: 0;
  top: 215px;

  display: flex;
  margin: 0;

  line-height: 45px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
}

.catalog-item-price b {
  margin: 0;
  padding: 0;
  font-size: 45px;
}

.catalog-item-price .weight {
  font-size: 30px;
}
.catalog-button {
  position: absolute;

  display: none;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 17px;
  padding-left: 17px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 22px;
}

.catalog-item::before {
  content: "";

  position: absolute;
  top: -6px;
  right: -13px;
  bottom: -80px;
  left: -13px;
  z-index: 10;

  display: none;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.catalog-item:hover .catalog-item-name,
.catalog-item:hover .catalog-item-image{
  z-index: 11;
}

.catalog-item:hover::before,
.catalog-item:hover .catalog-button {
  display: block;
}

.catalog-item:hover .catalog-button {
  bottom: -60px;
  z-index: 11;
}

.footer {
  display: flex;
  width: 1146px;
  padding-top: 18px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  width: 267px;
  margin-right: 206px;
  margin-top: 0;
  padding-top: 18px;
}

.footer-navigation {
  width: 380px;
  padding: 0;
  margin: 0;
}

.footer-social ul,
.footer-navigation ul{
  display: flex;
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.footer-navigation ul{
  width: 380px;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 17px;
}

.social-button {
  display: flex;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  margin-right: 12px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;

  border-radius: 19px;
}

.social-button svg {
  opacity: 0.8;
}

.social-button:hover,
.social-button:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:hover svg,
.social-button:focus svg {
  opacity: 1;
}

.social-button:active path,
.social-button:active g {
  fill: #e9e9e9;
}

.footer-navigation a {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-position: 0 14px;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.footer-navigation-item {
  width: 138px;
  margin: 0;
  padding: 0;
}

.footer-navigation-item:nth-child(2n){
  width: 170px;
}

.footer-navigation-item:first-child a{
  position: relative;

  font-weight: 700;
}

.footer-navigation-item:first-child svg {
  position: absolute;
  top: 2px;
  left: -22px;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-navigation a:active {
  color: rgb(255, 188, 158);

  background-image: linear-gradient(to right, rgba(255, 188, 158, 0.2), rgba(255, 188, 158, 0.2));
}

.for-suppliers:hover path,
.for-suppliers:focus path {
  fill: rgb(255, 188, 158);
}

.footer-copyright {
  width: 200px;
  margin-left: auto;

  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
}

.footer-copyright > a {
  display: block;
  margin: 0;
}

.copyright-ref a {
  color: #fefefe;
}

.copyright-ref a:hover,
.copyright-ref a:focus,
.copyright-ref a:active {
  color: #ffbc9e;
}

.copyright-ref a {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-position: 0 13px;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.copyright-ref a:hover,
.copyright-ref a:focus,
.copyright-ref a:active {
  background-image: linear-gradient(to right, rgba(255, 188, 158, 0.2), rgba(255, 188, 158, 0.2));
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
