body {
  margin: 0;
  padding: 9px 27px 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

.menu,
.modal-sub-menu {
  padding: 0;
  margin: 0;

  list-style: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.modal,
.sub-menu {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header-logo {
  margin-right: 24px;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  align-items: flex-start;
}

.navigation {
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
  width: 992px;
}

.menu-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.menu-item a {
  display: block;
  padding: 7px 0;
  margin-right: 24px;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-position: 0 24px;
  background-repeat: repeat-x;
  background-size: 2px 1px;


}

.menu-item a:hover,
.menu-item a:focus {
  display: block;
  margin-right: 10px;
  margin-left: -14px;
  padding: 7px 14px;

  color: #323232;

  background-color: #f7f6f3;
  border-radius: 16px;
}

.menu-item a:active {
  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.menu-current a {
  background-color: #d07058;
  background-image: none;
}

.menu-current a:hover,
.menu-current a:focus,
.menu-current a:active {
  color: #ffffff;

  background-color: #d07058;
  background-image: none;
}

.search-link {
  display: flex;
  flex-shrink: 0;
  padding: 8px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.search-link:hover,
.search-link:focus {
  background-color: #f8f7f4;
}

.search-link:hover path,
.search-link:focus path {
  fill: #323232;
}

.login-link,
.cart {
  position: relative;

  display: block;
  padding: 8px 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 16px;

  background-color: rgba(255, 255, 255, 0.2);
}

.login-link {
  margin-right: 10px;
  padding-left: 44px;
}

.cart {
  padding-left: 45px;
}

.login-link path {
  fill: #ffffff;
}

.login-link svg,
.cart svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.login-link:hover,
.login-link:focus,
.cart:hover,
.cart:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.login-link:hover path,
.login-link:focus path,
.cart:hover g,
.cart:focus g {
  fill: #323232;
}

.not-empty-cart {
  color: #323232;

  background-color: #f8f7f4;
  opacity: 0.99;
}

.schedule {
  margin-bottom: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;

  background-color: #849d8f;
}

.phone {
  margin-top: 0;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;

  background-color: #849d8f;
}

.features {
  width: 1146px;
  min-height: 306px;
  margin-bottom: 40px;

  background-color: #eadbbd;
  background-image: url(../img/bg-wafer.png);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 14px;
}

.features-list {
  list-style-type: none;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  /* align-items: stretch; */
  min-height: 220px;
  margin-bottom: 40px;
}

.blog-news {
  box-sizing: border-box;
  width: 560px;
  min-height: 220px;

  border-radius: 14px;
  background-color: #ffffff;
  background-image: url(../img/bg-blog.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.blog-news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
  background-image: linear-gradient(to right, rgba(50, 50, 50), rgba(50, 50, 50));
  background-position: 0 24px;
  background-repeat: repeat-x;
  background-size: 2px 2px;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: #e84d37;

  background-image: linear-gradient(to right, #e84d37, #e84d37);
  background-position: 0 24px;
  background-repeat: repeat-x;
  background-size: 2px 2px;
}

.subscribe {
  box-sizing: border-box;
  width: 560px;
  min-height: 220px;
  padding: 5px;

  border-radius: 14px;
  background-image: url(../img/bg-post.svg);
}

.subscribe .wrapper {
  min-height: 220px;
  margin: 0;

  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscribe p {
  margin: 0;
}

.subscribe input {
  width: 368px;
  margin: 11px;
  padding-left: 20px;
  border-radius: 5px;

  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  border: 1px solid rgba(178, 178, 178, 0.52);
}

.subscribe input:hover {
  margin: 10px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscribe input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.subscribe input::placeholder {
  font-weight: 400;
  color: #999999;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 18px; /* ?? */

  list-style-type: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-position: 0 16px;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: rgb(255, 188, 158);

  background-image: linear-gradient(to right, rgba(255, 188, 158, 0.2), rgba(255, 188, 158, 0.2));
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.page-title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;

  background-color: #849d8f;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.catalog {
  width: 1146px;
}

.catalog-item {
  width: 267px;
  margin-right: 26px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-name a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-position: 0 18px;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.catalog-item-name a:hover,
.catalog-item-name a:focus,
.catalog-item-name a:active {
  color: rgb(255, 188, 158);

  background-image: linear-gradient(to right, rgba(255, 188, 158, 0.2), rgba(255, 188, 158, 0.2));
}

.catalog-item-image img {
  border-radius: 133px;
}

.catalog-item-price {
  line-height: 45px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
}

.catalog-item-price b {
  font-size: 45px;
}

.catalog-item-price .weight {
  font-size: 30px;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  /* box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64); */
  background-color: #e84d37;
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  border: none;
}

.button:hover,
.button:focus {
  /* box-shadow: 0 2px 2px #ac1000; */
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
}

.button:active {
  /* box-shadow: inset 0 2px 2px #942718; */
  background-color: rgb(0, 0, 0);
  opacity: 0.93;
}

.footer {
  display: flex;
  width: 1146px;
  padding-top: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  width: 267px;
  margin-right: 26px;
}

.footer-navigation {
  width: 560px;
}

.footer-social ul,
.footer-navigation {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.footer-navigation a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-position: 0 14px;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.footer-navigation-item:first-child a{
  font-weight: 700;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-navigation a:active {
  color: rgb(255, 188, 158);

  background-image: linear-gradient(to right, rgba(255, 188, 158, 0.2), rgba(255, 188, 158, 0.2));
}

.footer-copyright {
  width: 200px;
  margin-left: auto;

  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.footer-copyright a:nth-child(2) {
  color: #fefefe;
}

.footer-copyright a:nth-child(2):hover,
.footer-copyright a:nth-child(2):focus,
.footer-copyright a:nth-child(2):active {
  color: #ffbc9e;
}

.footer-copyright a:nth-child(2) {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-position: 0 13px;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.footer-copyright a:nth-child(2):hover,
.footer-copyright a:nth-child(2):focus,
.footer-copyright a:nth-child(2):active {
  background-image: linear-gradient(to right, rgba(255, 188, 158, 0.2), rgba(255, 188, 158, 0.2));
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
